/* media */
@media (min-width: 1024px) { 
    .hero-img{
        display: block !important;
    }
}
@media (max-width: 768px) { 
    .hero-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
    